/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===== Theme =====*/
:root{
	--hero-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Images/hero.gif);
    --bg: #9bc995;
	--text: #272932;
	--accent: #cc8b86;
	--bg2: #f8f0fb;
	--text2: #436436;
	--box-shadow: -5px 5px 5px #555;
}
.darkmode{
	--hero-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/hero.gif");;
	--bg: #272932;
	--text: #9bc995;
	--accent: #cc8b86;
	--text2: #f8f0fb;
	--bg2: #436436;
	--box-shadow: 2px 4px 6px var(--accent);
}

/*===== Universal Styles =====*/
body{ 
	max-width: 1200px; /*fixing page width to 1200px*/
	width: 100%;
	margin: 0 auto;
	background-color: var(--bg);
	opacity: 1; 
	background-image:  radial-gradient(var(--text2) 1.5px, transparent 1.5px), radial-gradient(var(--text2) 1.5px, var(--bg) 1.5px); /*Background Pattern*/
	background-size: 60px 60px;
	background-position: 0 0,30px 30px;
}

/*===== Text Styles =====*/
h1{
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 2.25em;
	padding: 25px;
	text-align: center;
	color: var(--text);
}
h2, h3, h4{
	font-family: 'Lato', sans-serif;
	color: var(--text);
	padding: 15px;
	font-weight: bold;
}
h2{
	font-size: 1.75em;
}
h3{
	font-size: 1.25em;
}
h4{
	font-size: 1.15em;
}
p, li ,a, label, small, legend{
	font-family: 'Prompt', sans-serif;
	color: var(--text);
	padding: 10px;
}
p, a, label, legend{
	font-size: 20px;
	line-height: 25px;
}
a{
	text-decoration: none;
}
span{
	font-family: 'Prompt', sans-serif;
	color: var(--accent);
	font-size: 16px;
	padding: 10px;
}
.skip-link{
  position: absolute;
  left: -9999px;
  top: 0;
}

/*===== Hero Image Styles =====*/
.heroImage{
	background-image: var(--hero-image);
	background-position: center;
	background-size: cover;
}

/*===== Nav Styles =====*/
ul{
	display: flex;
	justify-content: center;
	padding: 10px;
}
a{
	padding: 10px;
}
a:hover{
	background-color: var(--bg2);
	color: var(--text2);
	border-radius: 10px;
}
/*===== About Styles =====*/
#about{
	background-color: var(--bg2);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#about h2, #about h3, #about p{
	color: var(--text2);
}
#about h2{
	grid-area: 1 / 1 / 2 / 3; 
}
#bio{
	grid-area: 2 / 2 / 6 / 3;
}

/*===== Concepts Styles =====*/
#concepts{
	background-color: var(--bg);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#concepts h2{
	grid-area: 1 / 1 / 2 / 2;
}
#concepts img{
	grid-area: 1 / 2 / 5 / 3;
	padding: 1rem 0 0;
}
#concepts h3:last-of-type{
	grid-area: 5 / 1 / 6 / 3;
}
#concepts p:last-of-type{
	grid-area: 6 / 1 / 7 / 3;
}

/*===== Lore Styles =====*/
#lore{
	background-color: var(--bg2);
	display: grid;
	grid-template-columns: 1fr 2fr;
}
#lore h2, #lore p{
	color: var(--text2);
}
#lore h2{
	grid-area: 1 / 1 / 2 / 3;
}
#lore p:first-of-type{
	grid-area: 2 / 1 / 3 / 3;
}
#lore p:nth-of-type(2){
	grid-area: 3 / 1 / 4 / 3;
}
#lore img{
	grid-area: 4 / 1 / 6 / 2;
	width: 80%;
	padding: 0 0 1rem;
}

/*===== Merch Styles =====*/
#merch{
	background-color: var(--bg);
}
.hidden{
	display: none; /*Hidding non-active products*/
}
#merch .product.active{ /*Displaying active products*/
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}
#merch img{
	grid-row: 1/-1;
	width: 600px;
    padding: 1em;
    border-radius: 35px;
}

#merch h3{
	grid-column: 2/-1;
	align-self: end;
}
#productButtons{
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    margin: .5rem auto;
    gap: 1rem;
    padding: 2rem 0 2rem;
}
button{
	background-color: var(--bg2);
	color: var(--text2);
	border-radius: 8px;
	padding: 1rem;
	box-shadow: var(--box-shadow);
}

/*===== Game Styles =====*/
#game{
	background-color: var(--bg2);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	align-items: center;
    justify-items: center;
}
#game h2, #game h3, #game p, #game label{
	color: var(--text2);
}
#game h2{
	grid-area: 1 / 1 / 2 / 4;
}
#game h3{
	grid-area: 2 / 2 / 3 / 3; 
}
#game p{
	grid-area: 3 / 2 / 4 / 3;
}
#game #gameOutput{
	grid-area: 4 / 1 / 5 / 3;
}

/*===== Game Form Styles =====*/
#game form{
	grid-area: 2 / 1 / 4 / 2;
}
#game input[type="number"]{
	display: block;
    line-height: 20px;
    margin: .5rem auto;
    width: 100%;
	border-radius: 8px;
}
#game input[type="submit"]{
	display: block;
	padding: .5rem;
    width: 90%;
    margin: 1rem auto;
	background-color: var(--bg);
	color: var(--text);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

/*===== Contact Styles =====*/
#contact{
	background-color: var(--bg2);
}
#contact h2, #contact label, #contact h4{
	color: var(--text2);
}

/*===== Contact Form Styles =====*/
#contactMe{
	display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    padding: 10px;
}
#contactMe input{
	line-height: 30px;
	margin: 10px;
	border-radius: 8px;
}
#contactMe textarea{
	height: 50px;
	border-radius: 8px;

}
#contactMe input[type="submit"]{
	padding: 1.25rem;
    width: 50%;
    margin: 2rem auto;
	background-color: var(--bg);
	color: var(--text);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}
#contactMe label, #contactMe legend{
	padding: 10px;
}
#success{
	text-align: center; /*Success message and submitted info styles*/
}
.message{
	display: none; /*Hiding error messages*/
}
.errorInput{
	border: 4px var(--accent) solid; /*Input error styles*/
}
.error{
	display: block; /*Showing error messages*/
}
.hide{
	display: none; /*Hiding success message and submitted info*/
}
.show{
	display: block;/*Showing success message and submitted info*/
}


/*===== Mode Switch =====*/
#mode-switch{ /*Switch button styles*/
	height: 50px;
	width: 50px;
	padding: 0; 
	border-radius: 50%;
	background-color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;
}
#mode-switch svg:last-child{
	display: none;  /*hiding sun in light mode*/
}
.darkmode #mode-switch svg:first-child{
	display: none;  /*hiding moon in dark mode*/
}
.darkmode #mode-switch svg:last-child{
	display: block; /*diplaying only one icon at a time*/
}

/*===== Socials =====*/
#socials{
	background-color: var(--bg);
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#socials h2{
	grid-area: 1 / 1 / 2 / 4;
}
#socials svg{
	padding: 10px;
	transition: box-shadow 0.3s ease;
}
.bounce:hover{ /*bounce animation*/
	animation: bounce 2s ease infinite;
	filter:drop-shadow(var(--box-shadow));
}
@keyframes bounce{ /*bounce animation*/
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.darkmode #socials svg:nth-child(odd){
	display: none; /*hiding black svgs*/
}
.darkmode #socials svg:nth-child(even){
	display: inline; 
}
#socials svg:nth-child(even){
	display: none; /*hiding white svgs*/
}

/*===== Footer Styles =====*/
footer{
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 1.5rem;
}